.rating
  p= "The questions rating is #{question.rating}"

.voting
  p
    =link_to 'Vote up', vote_for_question_path(question),
      method: :post,
      remote: true,
      data: { type: :json }
  p
    =link_to 'Vote down', vote_against_question_path(question),
      method: :post,
      remote: true,
      data: { type: :json }
  p
    =link_to 'Revoke vote',
      vote_revoke_question_path(question),
      method: :post,
      remote: true,
      data: { type: :json }
