- if current_user&.subscribed?(question.id)
  = link_to 'Subscribe', question_subscriptions_path(question), method: :post, remote: true
- elsif current_user&.current_subscription(question.id)
  = link_to 'Unsubscribe', question_subscription_path(question, current_user&.current_subscription(question.id)), method: :delete, remote: true